@model WeatherApp.Models.WeatherData.root

<head>
    <link rel="stylesheet" href="~/css/Style.css" />
</head>
<body>
    <div class="search-name">
       <h4>@Model.name</h4>
    </div>
    <div class="weather-container">
        <div class="weather">
            <dl>
                <dt>Current Weather</dt>
                <hr />
                <dt>Current Temperature: </dt>
                <dd>@Model.Main.temp &#176F</dd>
                <dt>High: </dt>
                <dd>@Model.Main.temp_max &#176F</dd>
                <dt>Low: </dt>
                <dd>@Model.Main.temp_min &#176F</dd>
                <dt>Wind Speed: </dt>
                <dd>@Model.Wind.speed MPH</dd>
                <dt>Humidity: </dt>
                <dd>@Model.Main.humidity%</dd>
                <dt>Sunrise: </dt>
                <dd>@Model.Sys.sunrise</dd>
                <dt>Sunset: </dt>
                <dd>@Model.Sys.sunset</dd>
            </dl>
        </div>
        <div class="weather">
            <dl>
                <dt>Tomorrow's Weather</dt>
                <hr />
                <dt>Current Temperature: </dt>
                <dd>@Model.Main.temp &#176F</dd>
                <dt>High: </dt>
                <dd>@Model.Main.temp_max &#176F</dd>
                <dt>Low: </dt>
                <dd>@Model.Main.temp_min &#176F</dd>
                <dt>Wind Speed: </dt>
                <dd>@Model.Wind.speed MPH</dd>
                <dt>Humidity: </dt>
                <dd>@Model.Main.humidity%</dd>
                <dt>Sunrise: </dt>
                <dd>@Model.Sys.sunrise</dd>
                <dt>Sunset: </dt>
                <dd>@Model.Sys.sunset</dd>
            </dl>
        </div>
        <div class="weather">
            <dl>
                <dt>2-Day Weather</dt>
                <hr />
                <dt>Current Temperature: </dt>
                <dd>@Model.Main.temp &#176F</dd>
                <dt>High: </dt>
                <dd>@Model.Main.temp_max &#176F</dd>
                <dt>Low: </dt>
                <dd>@Model.Main.temp_min &#176F</dd>
                <dt>Wind Speed: </dt>
                <dd>@Model.Wind.speed MPH</dd>
                <dt>Humidity: </dt>
                <dd>@Model.Main.humidity%</dd>
                <dt>Sunrise: </dt>
                <dd>@Model.Sys.sunrise</dd>
                <dt>Sunset: </dt>
                <dd>@Model.Sys.sunset</dd>
            </dl>
        </div>

    </div>
    
</body>


